:root {
    --background: #121212;
    --header: #1E1E1E;

    --outline: #3a3a3a;
    --text: #98989a;

    --rascunho1: #202022;
    --rascunho2: #333338;

    --emfila1: #1E1E1E;
    --emfila2: #274679;

    --emproducao1: #2E2443;
    --emproducao2: #4B3679;

    --concluido1: #193925;
    --concluido2: #1C6336;

    --enviado1: #413614;
    --enviado2: #755C10;

    --cancelado1: #431F25;
    --cancelado2: #792936;


    --circle1: #122D77;
    --circle2: #60A5FA;
    --square1: #775704;
    --square2: #FACC15;
    --hexagon1: #0E6A54;
    --hexagon2: #4ADE80;

}

body {
    font-size: 12px;
}

.screen {
    background-color: var(--background);
    width: 100%;
    height: 90%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 {
    width: 50%;
    height: 100%;
    padding: 80px 80px 80px 200px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--outline);
}

.container2 {
    width: 50%;
    height: 100%;
}

.subcontainer1 {
    width: 100%;
    height: 35%;
    padding: 80px 200px 200px 80px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--outline);
}

.subcontainer2 {
    padding: 80px 200px 200px 80px;
    width: 100%;
    height: 100%;
}

.title {
    margin-bottom: 46px;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: var(--text);
}

#historyTable,
#queryTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid var(--outline);
}

#historyTable thead th,
#queryTable thead th {
    background-color: var(--header);
    color: white;
    font-weight: 500;
    text-align: left;
    padding: 12px 15px;
    font-size: 14px;
    border-bottom: 1px solid var(--outline);
}

#historyTable tbody tr:hover,
#queryTable tbody tr:hover {
    background-color: var(--header);
}

#historyTable tbody td,
#queryTable tbody td {
    padding: 12px 15px;
    border-bottom: 1px solid var(--outline);
    vertical-align: middle;
}

#historyTable tbody tr:last-child td,
#queryTable tbody tr:last-child td {
    border-bottom: none;
}

#historyTable tbody td:nth-child(3),
#queryTable tbody td:nth-child(2) {
    text-align: center;
}

.status {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 4px;
    text-align: center;
}

.status.rascunho {
    background-color: var(--rascunho1);
    outline: 2px solid var(--rascunho2);
}

.status.emfila {
    background-color: var(--emfila1);
    outline: 2px solid var(--emfila2);
}

.status.emproducao {
    background-color: var(--emproducao1);
    outline: 2px solid var(--emproducao2);
}

.status.concluido {
    background-color: var(--concluido1);
    outline: 2px solid var(--concluido2);
}

.status.enviado {
    background-color: var(--enviado1);
    outline: 2px solid var(--enviado2);
}

.status.cancelado {
    background-color: var(--cancelado1);
    outline: 2px solid var(--cancelado2);
}

.item {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: middle;
}

.item.circle {
    background-color: var(--circle1);
    outline: 1px solid var(--circle2);
    border-radius: 50%;
}

.item.square {
    background-color: var(--square1);
    outline: 1px solid var(--square2);
    border-radius: 2px;
}

.item.hexagon {
    width: 22px; 
    height: 20px; 
    
    margin-left: 3.5px;
    margin-right: 2px; 
    
    background-color: var(--hexagon2);
    position: relative; 
    overflow: hidden; 
    border-radius: 0;
    outline: none;
    box-shadow: none; 
    clip-path: polygon(50% 0%, 90% 25%, 90% 75%, 50% 100%, 10% 75%, 10% 25%);
}

.item.hexagon::before {
    content: "";
    position: absolute;
    top: 1px; 
    left: 1px; 
    width: calc(100% - 2px); 
    height: calc(100% - 2px); 
    background-color: var(--hexagon1); 
    clip-path: inherit;
}

.item.separator {
    width: 2px;
    margin: 0 8px;
    vertical-align: middle;

    background-color: white;
    border-radius: 1px;
}