:root {
    --primary-color: #9b111e; /* Cor principal */
    --secondary-color: #ffffff; /* Cor secundária */
    --background-color: #f5f5f5;
    --text-color: #000000;
    --third-color: #d4d4d4;
    --notification-color: #ADDDF8
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;  /* Tamanho base do texto */
    line-height: 1.5; /* Distância entre as linhas */
    color: #333; /* Cor padrão do texto */
    background-color: #f4f4f4; /* Cor de fundo do body */
    width: 100%; 
    height: 100vh;
}

header {
    height: 5%;
    font-size: 250%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--text-color);
}

main {
    height: 90%;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

main_home {
    height: 90%;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 40% 60%;
}

footer {
    height: 5%;
    background-color: var(--background-color);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginArea {
    height: 100%;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.area1 {
    margin-top: 5%;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.area2 {
    width: 100%;
    height: 100%;
}

.team {    
    height: 100%;
}

.login {
    margin: 0px 150px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 10% 1fr 1fr 1fr 1fr 1fr 1fr 1fr 15%;
}

.register {
    background-color: rgb(233, 114, 17);
}

.kuka {
    width: auto;
    height: 100%;
    object-fit: contain;
    margin-left: 8%
}

.input {
    display: flex;
    flex-direction: column;
}

.input label {

}

.input input {
    padding: 10px;
    border: 1px solid #d4d4d4;
    border-radius: 15px;
}

.input:active {
    border-color:  #a7a7a7;
}

.confirm {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
}

.registerConfirm {
    grid-column: span 2;
    border-radius: 10px;
    height: 100%;
    position: relative;
    top: 5%;
    background-color: var(--primary-color);
    color: var(--background-color);
}

.politic {
    display: flex;
    flex-direction: row;
    grid-column: span 2;
    align-items: start;
    justify-content: start;
    margin: 5px;
}

.checkbox {
    position: relative;
    top: 2%;
}

.labelpolitic {
    display: flex;
    font-size: 75%;
    margin-left: 5px;
    user-select: none;
}

.ou {
    font-size: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginButton {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: end;
}

.loginButton p {
    margin: 0px 2px;
    font-size: 80%;
}

.loginText {
    color: aqua;
    cursor: pointer;
    user-select: none;
}

.loginText:hover {
    color:rgb(0, 158, 158);
    cursor: pointer;
}

.loginText:active {
    color:rgb(0, 37, 37);
    cursor: pointer;
}