:root {
    --primary-color: #9b111e; /* Cor principal */
    --secondary-color: #ffffff; /* Cor secundária */
    --background-color: #f5f5f5;
    --text-color: #000000;
    --third-color: #2B2222;
    --notification-color: #ADDDF8
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;  /* Tamanho base do texto */
    line-height: 1.5; /* Distância entre as linhas */
    color: #333; /* Cor padrão do texto */
    background-color: #f4f4f4; /* Cor de fundo do body */
    width: 100%; 
    height: 100vh;
}

header {
    height: 5%;
    font-size: 250%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--text-color);
}

main {
    height: 90%;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

main_home {
    height: 90%;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 40% 60%;
}

footer {
    height: 5%;
    background-color: var(--background-color);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginArea {
    height: 70%;
    width: 50%;
    background-color: var(--secondary-color);
    border-radius: 75px;
    display: grid;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.area1 {
    width: 100%;
    height: 100%;
}

.area2 {
    width: 100%;
    height: 100%;
}

.team {    
    height: 100%;
}